<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://msft-fabric-neu-fa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ad331ace-d1e3-4655-af8f-84013ad41d6c/resourceGroups/msft-fabric-neu-rg/providers/Microsoft.Web/sites/msft-fabric-neu-fa</ResourceId>
    <UserName>$msft-fabric-neu-fa</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://msft-fabric-neu-fa.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>